{% extends 'base.html' %}
{% block title %}About my Developer.institute's Hackathon{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">About my Developer.institute's Hackathon</h1>
        <p class="lead">Welcome to the my Developer.institute's Hackathon, where innovation meets social impact!</p>
        
        <img src="https://image.shutterstock.com/image-vector/banner-hackathon-design-sprintlike-event-260nw-1418226719.jpg" alt="Hackathon Image" class="img-fluid rounded mb-4">
        
        <p class="lead">At this hackathon, we encourage participants to bring forward creative solutions to real-world problems. One outstanding idea comes from a visionary participant:</p>

        <p class="lead"><em>"My idea is to create a simple web application that addresses the challenge of finding volunteers who can walk dogs or assist organizations at the shelter. Let's make a positive impact on the lives of our furry friends and the organizations dedicated to their well-being!"</em></p>

        <p class="lead">Join us in this journey to use technology for a greater cause. Together, we can build solutions that make a difference in our communities.</p>
    </div>
{% endblock %}
