{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Contact Us</h1>
        <p class="lead">Have questions or want to get in touch? We'd love to hear from you!</p>
        
        <ul>
            <li>Email: <a href="mailto:korneevv@gmail.com">korneevv@gmail.com</a></li>
            <li>Instagram: <a href="https://www.instagram.com/koren0" target="_blank">@koren0</a></li>
            <li>GitHub: <a href="https://github.com/k0ren0/Bootcamp-Hackathon.git" target="_blank">k0ren0/Bootcamp-Hackathon</a></li>
            <li>YouTube: <a href="https://www.youtube.com/channel/UCnTSKmWp3VdaLFixj0TEQSA" target="_blank">My YouTube Channel</a></li>
        </ul>

        <p class="mt-4">Feel free to reach out to us through any of the channels above. We're here to assist you!</p>
    </div>
{% endblock %}
