{% extends 'base.html' %}

{% block title %}Volunteer Events{% endblock %}

{% block content %}
    <h2>Create Volunteer Event</h2>

    <!-- Используйте правильное имя переменной для формы -->
    <form method="POST" action="{{ url_for('volunteer_events') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.event_name.label }}
            {{ form.event_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.event_date.label }}
            {{ form.event_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.role.label }}
            {{ form.role(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Create Volunteer Event</button>
    </form>
{% endblock %}

